[submodule "builder"]
	path = builder
	url = https://gitlab.duethealth.com/sean.odonnell/builder
[submodule "uploader"]
	path = uploader
	url = git@gitlab.duethealth.com:sean.odonnell/uploader.git
[submodule "tester"]
	path = tester
	url = git@gitlab.duethealth.com:sean.odonnell/tester.git
[submodule "validator"]
	path = validator
	url = git@gitlab.duethealth.com:sean.odonnell/validator.git
[submodule "pamphlet"]
	path = pamphlet
	url = git@gitlab.duethealth.com:sean.odonnell/pamphlet.git
